<footer class="footer">
        <div class="container">
          <div class="footer__grid">
            <div class="footer__block">
              <!-- f-contacts-->
              <div class="f-contacts">
                <p class="f-contacts__title">Контакты</p>
                <div class="f-contacts__list">
                  <div class="f-contacts__item"><img src="/netcat_template/template/japanlife/assets/img/icons/phone-circle.svg" alt=""><a class="f-contacts__link" href="tel:88007001894">Номер1</a></div>
                  <div class="f-contacts__item"><img src="/netcat_template/template/japanlife/assets/img/icons/whatsapp.svg" alt=""><a class="f-contacts__link whatsapp" href="https://api.whatsapp.com/send?phone=79046212778">Номер2</a></div>
                  <div class="f-contacts__item"><img src="/netcat_template/template/japanlife/assets/img/icons/telegram-circle.svg" alt=""><a class="f-contacts__link telegram" href="https://t.me/JapanLife_Sales">Телеграм</a></div>
                  <div class="f-contacts__item"><img src="/netcat_template/template/japanlife/assets/img/icons/email-circle.svg" alt=""><a class="f-contacts__link" href="mailto:sales.jplife@gmail.com">Ютуб</a></div>
                </div>
              </div>
              <!-- end f-contacts-->
              <!-- calculate-btn--><a class="calculate-btn request-btn js-modal-show" href="#js-modal-calc">Рассчитать стоимость</a>
              <!-- end calculate-btn-->
              <!-- f-social-->
              <div class="f-social">
                <p class="f-social__title">Мы в социальных сетях</p>
                <div class="f-social__list">
                  <div class="f-social__item"><img src="/netcat_template/template/japanlife/assets/img/icons/youtube.svg" alt=""><a class="f-social__link" href="https://www.youtube.com/channel/UCKFm5cFPBTkUci874cg3-Mw">Youtube</a></div>
                </div>
              </div>
              <!-- end f-social-->
            </div>
            <div class="footer__block">
              <!-- f-menu-->
              <nav class="f-menu">
                <div class="f-menu__col">
                  <p class="f-menu__title">Полезное</p>
                  <div class="f-menu__list">
                      <a class="f-menu__link" href="/auktsiony-yaponii-on-line/">Аукцион</a>
                      <a class="f-menu__link" href="/statistika/">Статистика</a>
                      <a class="f-menu__link" href="/services/calculator-poshlina/">Калькулятор</a>
                      <a class="f-menu__link" href="/info/faq/">Частые вопросы</a>
                  </div>
                </div>
                <div class="f-menu__col">
                  <p class="f-menu__title">О нас</p>
                  <div class="f-menu__list">
                      <a class="f-menu__link" href="/company/">Компания</a>
                      <a class="f-menu__link" href="/contacts/">Контакты</a>
                      <a class="f-menu__link" href="/info/shema-raboty/">Как заказать</a>
                      <a class="f-menu__link" href="/info/guarantees/">Гарантии</a>
                      <a class="f-menu__link" href="/info/dostavka-v-regiony/">Доставка</a>
                      <a class="f-menu__link" href="/otzyvy/">Отзывы</a>

                  </div>
                </div>
              </nav>
              <!-- end f-menu-->
            </div>
            <div class="footer__block">
              <!-- copy-->
              <div class="copy">
                <p>Сайт не является публичной офертой.</p>
              </div>
              <!-- end copy-->
            </div>
            <div class="footer__block">
              <!-- privacy-link--><a class="privacy-link" href="/policy/">Политика конфиденциальности</a>
              <!-- end privacy-link-->
            </div>
          </div>
        </div>
        <!-- scrollup-->
        <div class="scrollup" style="display: block;">
          <div class="scrollup__wrap">
            <svg>
              <use href="/netcat_template/template/japanlife/assets/img/icons/sprite.svg#chevron-up"></use>
            </svg>
          </div>
        </div>
        <!-- end scrollup-->
      </footer>
